@import '../../styles/variables';

.HomeSection1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $textColor;
    padding: 30px 100px;

    .S1Image {
        height: 150px;
        width: 150px;
    }

    .Section1Text {
        color: $secondaryColor;
        font-style: italic;
        font-size: 20px;
        padding: 20px;
    }
}
